Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
__ExternalActors__
__ExternalObjects__
Enviroment
Fx_Effect
/Content/Items/GameActor/FX/UWC_Bullet_Holes
